<html>
  <head>
    <title>Albums</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/albums/new">New Album</a></li>
    </ul>
    <h1>Albums</h1>
    <% @albums.each do |album| %>
      <div>
        Title: <a href="/albums/<%= album.id %>"><%= album.title %></a><br>
        Released: <%= album.release_year %>
      </div>
    <% end %>
  </body>
</html>
