<html>
  <head>
    <title>Albums</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/artists/new">New Artist</a></li>
    </ul>
    <h1>Artists</h1>
    <% @artists.each do |artist| %>
      <div>
        Name: <a href="/artists/<%= artist.id %>"><%= artist.name %></a><br>
        Genre: <%= artist.genre %>
      </div>
    <% end %>
  </body>
</html>